.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	&__action {
		font-size: 22px;
		width: 26px;
		cursor: pointer;
		text-align: center;
		opacity: .5;
		&:hover {
			opacity: .75;
		}
		&:active {
			opacity: 1;
		}
		&_minus {
			&:before {
				content: '−';
			}
		}
		&_plus {
			&:before {
				content: '+';
			}
		}
	}
	input&__value {
		border: none;
		font-size: 22px;
		width: 40px;
		text-align: center;
	}
}