.cart-list {
	&__header {
		display: flex;
		color: var(--color-gray_light);
		margin-bottom: 25px;
	}
	&__col {
		&_size {
			&_m {
				width: 130px;
				flex-shrink: 0;
			}
			&_l {
				width: 170px;
				flex-shrink: 0;
			}
			&_xl {
				width: 100%;
			}
		}
		&_center {
			text-align: center;
			margin-left: 50px;
		}
		&_right {
			text-align: right;
		}
		&_product {
			padding-left: 90px;
		}
	}
}