:root {
	--font-sans: "PT Sans", Helvetica, Arial, sans-serif;
	--font-serif: "PT Serif", Georgia, sans-serif;

	--color-black: #000;
	--color-white: #fff;
	--color-gray: #747474;
	--color-gray_light: #999999;
	--color-blue: #1088FB;
	--color-blue_dark: #116ABF;
	--color-red: #FF0000;
}